user-service-ws/src/main/resources/wsdl/UserManager.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://service.user.ecmephi.ru/}" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="UserWebService"
                  targetNamespace="http://service.user.ecmephi.ru/}">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.user.ecmephi.ru/}"
                   elementFormDefault="unqualified" targetNamespace="http://service.user.ecmephi.ru/}" version="1.0">

            <xs:element name="clearHistory" type="tns:clearHistory"/>

            <xs:element name="clearHistoryResponse" type="tns:clearHistoryResponse"/>

            <xs:element name="create" type="tns:create"/>

            <xs:element name="createResponse" type="tns:createResponse"/>

            <xs:element name="delete" type="tns:delete"/>

            <xs:element name="deleteResponse" type="tns:deleteResponse"/>

            <xs:element name="getAccessLevel" type="tns:getAccessLevel"/>

            <xs:element name="getAccessLevelResponse" type="tns:getAccessLevelResponse"/>

            <xs:element name="getAllUsers" type="tns:getAllUsers"/>

            <xs:element name="getAllUsersResponse" type="tns:getAllUsersResponse"/>

            <xs:element name="getLog" type="tns:getLog"/>

            <xs:element name="getLogResponse" type="tns:getLogResponse"/>

            <xs:element name="grantAdministratorAccessLevel" type="tns:grantAdministratorAccessLevel"/>

            <xs:element name="grantAdministratorAccessLevelResponse" type="tns:grantAdministratorAccessLevelResponse"/>

            <xs:element name="grantStandardUserAccessLevel" type="tns:grantStandardUserAccessLevel"/>

            <xs:element name="grantStandardUserAccessLevelResponse" type="tns:grantStandardUserAccessLevelResponse"/>

            <xs:element name="login" type="tns:login"/>

            <xs:element name="loginResponse" type="tns:loginResponse"/>

            <xs:complexType name="delete">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:adminProcedureRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="adminProcedureRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adminId" type="xs:long"/>
                    <xs:element minOccurs="0" name="targetId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="deleteResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:baseResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="baseResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseCode" type="tns:responseCode"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="login">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:loginRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="loginRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="password" type="xs:string"/>
                    <xs:element minOccurs="0" name="username" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="loginResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:userResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="userResponse">
                <xs:complexContent>
                    <xs:extension base="tns:baseResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="user" type="tns:userModel"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="userModel">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="role" type="xs:string"/>
                    <xs:element minOccurs="0" name="username" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="create">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:createUserRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="createUserRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adminId" type="xs:long"/>
                    <xs:element minOccurs="0" name="password" type="xs:string"/>
                    <xs:element minOccurs="0" name="username" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="createResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:userResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="grantAdministratorAccessLevel">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:adminProcedureRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="grantAdministratorAccessLevelResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:baseResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="grantStandardUserAccessLevel">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:adminProcedureRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="grantStandardUserAccessLevelResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:baseResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getLog">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:idRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="idRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getLogResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:messageResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="messageResponse">
                <xs:complexContent>
                    <xs:extension base="tns:baseResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="message" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="getAllUsers">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:idRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getAllUsersResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:userListResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="userListResponse">
                <xs:complexContent>
                    <xs:extension base="tns:baseResponse">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="userList" nillable="true"
                                        type="tns:userModel"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="getAccessLevel">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:idRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getAccessLevelResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:messageResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="clearHistory">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:adminProcedureRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="clearHistoryResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:baseResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:simpleType name="responseCode">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="SUCCESS"/>
                    <xs:enumeration value="UNKNOWN_ERROR"/>
                    <xs:enumeration value="INCORRECT_INPUT"/>
                    <xs:enumeration value="ACCESS_DENIED"/>
                    <xs:enumeration value="USER_DOES_NOT_EXIST"/>
                    <xs:enumeration value="SAME_RIGHTS"/>
                    <xs:enumeration value="OPERATION_ON_CURRENT_USER"/>
                    <xs:enumeration value="EXISTING_USERNAME"/>
                </xs:restriction>
            </xs:simpleType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="create">
        <wsdl:part element="tns:create" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="grantAdministratorAccessLevelResponse">
        <wsdl:part element="tns:grantAdministratorAccessLevelResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteResponse">
        <wsdl:part element="tns:deleteResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAccessLevel">
        <wsdl:part element="tns:getAccessLevel" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="clearHistory">
        <wsdl:part element="tns:clearHistory" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllUsersResponse">
        <wsdl:part element="tns:getAllUsersResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="delete">
        <wsdl:part element="tns:delete" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="login">
        <wsdl:part element="tns:login" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getLogResponse">
        <wsdl:part element="tns:getLogResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="clearHistoryResponse">
        <wsdl:part element="tns:clearHistoryResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createResponse">
        <wsdl:part element="tns:createResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="grantAdministratorAccessLevel">
        <wsdl:part element="tns:grantAdministratorAccessLevel" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="grantStandardUserAccessLevel">
        <wsdl:part element="tns:grantStandardUserAccessLevel" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getLog">
        <wsdl:part element="tns:getLog" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllUsers">
        <wsdl:part element="tns:getAllUsers" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part element="tns:loginResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="grantStandardUserAccessLevelResponse">
        <wsdl:part element="tns:grantStandardUserAccessLevelResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAccessLevelResponse">
        <wsdl:part element="tns:getAccessLevelResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UserWS">
        <wsdl:operation name="delete">
            <wsdl:input message="tns:delete" name="delete">
            </wsdl:input>
            <wsdl:output message="tns:deleteResponse" name="deleteResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <wsdl:input message="tns:login" name="login">
            </wsdl:input>
            <wsdl:output message="tns:loginResponse" name="loginResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="create">
            <wsdl:input message="tns:create" name="create">
            </wsdl:input>
            <wsdl:output message="tns:createResponse" name="createResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="grantAdministratorAccessLevel">
            <wsdl:input message="tns:grantAdministratorAccessLevel" name="grantAdministratorAccessLevel">
            </wsdl:input>
            <wsdl:output message="tns:grantAdministratorAccessLevelResponse"
                         name="grantAdministratorAccessLevelResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="grantStandardUserAccessLevel">
            <wsdl:input message="tns:grantStandardUserAccessLevel" name="grantStandardUserAccessLevel">
            </wsdl:input>
            <wsdl:output message="tns:grantStandardUserAccessLevelResponse" name="grantStandardUserAccessLevelResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLog">
            <wsdl:input message="tns:getLog" name="getLog">
            </wsdl:input>
            <wsdl:output message="tns:getLogResponse" name="getLogResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllUsers">
            <wsdl:input message="tns:getAllUsers" name="getAllUsers">
            </wsdl:input>
            <wsdl:output message="tns:getAllUsersResponse" name="getAllUsersResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccessLevel">
            <wsdl:input message="tns:getAccessLevel" name="getAccessLevel">
            </wsdl:input>
            <wsdl:output message="tns:getAccessLevelResponse" name="getAccessLevelResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clearHistory">
            <wsdl:input message="tns:clearHistory" name="clearHistory">
            </wsdl:input>
            <wsdl:output message="tns:clearHistoryResponse" name="clearHistoryResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserWebServiceSoapBinding" type="tns:UserWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="delete">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="delete">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="login">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="loginResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="create">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="create">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="grantAdministratorAccessLevel">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="grantAdministratorAccessLevel">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="grantAdministratorAccessLevelResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="grantStandardUserAccessLevel">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="grantStandardUserAccessLevel">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="grantStandardUserAccessLevelResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLog">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getLog">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLogResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllUsers">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAllUsers">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllUsersResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccessLevel">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAccessLevel">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAccessLevelResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clearHistory">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="clearHistory">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="clearHistoryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserWebService">
        <wsdl:port binding="tns:UserWebServiceSoapBinding" name="UserWSPort">
            <soap:address location="http://localhost:8080/endpoint/UserWebService/UserManager"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>